name: Deploy to VPS
on:
  push:
    branches: [ main ] # Se activa cuando subes cambios a main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/mi-app
            git pull origin main
            docker compose up -d --build